.scrollArea {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollArea::-webkit-scrollbar {
  display: none;
}

.masonryGallery {
  column-fill: balance;
}

.masonryItem {
  break-inside: avoid;
  display: inline-block;
  width: 100%;
}
